body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin:0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ddd;
}

.div-principal {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

.div-secundaria {
    margin-bottom: 30px;
    text-align: center;
}

.div-secundaria img {
    width: 520px;
    height: 360px;
    margin-top: 15px;
    border-radius: 5px;
}


